<div class="container">
  <div class="d-flex justify-content-between my-3">
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
        <div class="card">
          <div class="card-body ">
            <h5 class="card-title display-5"><%= restaurant.name %></h5>
              <p class="card-text"><%= restaurant.address %></p>
              <p class="card-text"><%= restaurant.category %></p>
              <%= link_to "Add review", new_restaurant_review_path(restaurant[:id])  %>
              <p class="card-text">rating placeholder</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Add a new restaurant", new_restaurant_path %>
</div>
